.area {
  display: flex;
  flex-direction: column;
  min-width: var(--porta-largura); 
  height: var(--porta-altura);
  align-items: center;
  cursor: pointer;
 overflow: hidden;
 position: relative;

}

.batente {
  display: flex;
  flex-grow: 1;
  border:  5px solid brown;
  border-bottom: none;
  width: 90%;
  max-height: 280px; 
  background: url('../assets/casa-abandonada_98.webp') no-repeat center center;
  background-size: 550px;
  z-index: 2;
}
.batente.temPresente {
  background:url('../assets/Pregação_porta_aberta_por_Deus_sermão_esboço_estudo_bíblico.jpg') no-repeat 51% 60% ;
  background-size: 1000px;
}

.chao {
  width: 100%;
  height: 140px;  background-color: #DDD;
  transform: perspective(80px) rotateX(50deg);
  position: absolute;
  bottom: -40px;
  z-index: 0;
}
.porta {
  display: flex;
  height: 276px;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 15px;
  background-color: chocolate;
  transform-origin: right center; 
    transform: perspective(1000px) rotateY(0deg);
    transition: all .8s;
}

.numero {
  font-size: 34px;
}

.macaneta {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: brown;
  position: absolute;
  top: calc(0.45 * var(--porta-altura));
  left: 20px;
}



.batente.selecionada{
  border-color: yellow;
}
.area:hover .macaneta,
.macaneta.selecionada {
  background-color: yellow;
}

 .porta.aberta {
 transform: perspective(1000px) rotateY(-85deg) ; 
}